@tailwind base;
@tailwind components;
@tailwind utilities;

.card-image {
  @apply hidden md:block relative min-w-[200px] max-w-[400px] w-full min-h-[300px] h-full;
}

.card-wrapper {
  @apply relative rounded overflow-hidden bg-white max-w-5xl min-h-[400px] w-full flex flex-col md:flex-row;
}

.page {
  @apply w-screen h-screen flex flex-col p-8 space-y-4;
}

.card-title {
  @apply text-2xl font-bold;
}

.wrapper {
  @apply p-5 flex flex-col justify-center space-y-5;
}

.content-wrapper {
  @apply relative flex items-center space-x-3;
}

.heart {
  @apply min-w-max h-12 w-12 text-yellow-500;
}

.text-container {
  @apply flex flex-col space-y-1;
}

.text-header {
  @apply text-2xl font-extrabold;
}
